<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>


<f:section name="content">
    <h1>Listing for User</h1>

    <f:flashMessages/>

    <table class="table table-hover">
        <tr>
            <th>Kunde</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <f:for each="{users}" as="user">
            <tr>
                <td>
                    {user.username} -
                    {user.firstName}
                </td>
                <td>
                    <button id="orders{user.uid}" class="btn btn-primary">Bestellungen</button>
                    <div id="orderlist{user.uid}"></div>
                </td>
                <td>
                    <f:link.action action="edit" arguments="{user : user}">Edit</f:link.action>
                </td>
                <td>
                    <f:link.action action="delete" arguments="{user : user}">Delete</f:link.action>
                </td>
            </tr>
            <v:page.footer>
                <script>
                    $('#orders{user.uid}').on('click', function () {
                        $.ajax({
                            // f:comment damit die URL auch durch Fluid genereirt wird
                            url: "<f:comment></f:comment>{f:uri.action(action: 'userOrder', controller: 'Order', pageType: '201909181052', arguments: '{user: user}') -> f:format.raw()}",
                            //url: "<f:comment></f:comment>{f:uri.action(action: 'userOrder', controller: 'Order', pageType: '201909181052', format: 'json', arguments: '{user: user}') -> f:format.raw()}",
                            success: function (data) {
                                $('#orderlist<f:comment></f:comment>{user.uid}').html(data);
                            }
                        });
                        return false;
                    });

                </script>
            </v:page.footer>
        </f:for>
    </table>

    <f:link.action action="new">New User</f:link.action>

</f:section>
</html>