<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Hallo {user.first_name}</h1>

    <f:flashMessages/>

    <f:form
            controller="Product"
            action="list">
        <f:form.textfield
                name="sword"
                class="form-control"
                value="{sword}"/>

        <f:form.select
            name="ordering"
            options="{
            price: 'Preis',
            title: 'Titel'
            }"
            value="{ordering}"/>
        <f:form.select
            name="ascDesc"
            options="{
            ASC: 'aufsteigend',
            DESC: 'absteigend'
            }"
            value="{ascDesc}"/>

        <f:form.select
            name="color"
            options="{colors}"
            optionLabelField="fullTitle"
            prependOptionLabel="{f:translate(key: 'all')}"
            prependOptionValue="0"
            sortByOptionLabel="TRUE"
            value="{color}"/>
        <f:form.submit
                value="suchen"
                class="btn btn-success"/>
    </f:form>
    <f:if condition="{sword}">
        <h2>
            Hier das Ergebnis zu Deiner Suche nach "{sword}"
        </h2>
    </f:if>
    <table class="{settings.cssTable}">
        <tr>
            <th>
                <f:translate key="tx_products_domain_model_product.title"/>
            </th>
            <th>
                <f:translate key="tx_products_domain_model_product.title"/>
            </th>
            <th>
                <f:translate key="tx_products_domain_model_product.description"/>
            </th>
            <th>
                <f:translate key="tx_products_domain_model_product.price"/>
            </th>
        </tr>
        <f:widget.paginate
                objects="{products}"
                as="paginatedProducts"
                configuration="{itemsPerPage: '{settings.list.items}'}">
            <f:for each="{paginatedProducts}" as="product" iteration="pI">
                <tr>
                    <td>
                        #{pI.cycle}
                        <f:link.action
                                action="show"
                                arguments="{product : product}"
                                pageUid="{settings.pid.show}"> {product.title}
                        </f:link.action>
                    </td>
                    <td>
                        <f:for each="{product.productColor}" as="color" iteration="i">
                            {color.title}<f:if condition="!{i.isLast}">, </f:if>
                        </f:for>
                    </td>
                    <td> {product.description}</td>
                    <td> {product.price}</td>
                    <td>
                        <f:link.action
                            controller="Order"
                            pageUid="88"
                            action="new"
                            arguments="{
                            product: product
                                }"
                        class="btn btn-danger">bestellen</f:link.action>
                    </td>
                </tr>
            </f:for>
        </f:widget.paginate>
    </table>
</f:section>
</html>