<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <div class="alert alert-danger">
            <strong>{f:translate(key: 'errorHeader')}</strong><br/>
            <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
                <f:for each="{errors}" as="error">
                   {propertyPath}.{error.code}<br/>
                    <f:translate key="{propertyPath}.{error.code}"/>
                    <br/>
                </f:for>
            </f:for>
        </div>
    </f:if>
</f:form.validationResults>
</html>