<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Order</h1>

		<f:flashMessages />

		<table  class="tx_products" >
			<tr>
				<th><f:translate key="tx_products_domain_model_order.order_date" /></th>
				<th><f:translate key="tx_products_domain_model_order.delivery_name" /></th>
				<th><f:translate key="tx_products_domain_model_order.delivery_address" /></th>
				<th><f:translate key="tx_products_domain_model_order.delivery_zip" /></th>
				<th><f:translate key="tx_products_domain_model_order.delivery_city" /></th>
				<th><f:translate key="tx_products_domain_model_order.email" /></th>
				<th><f:translate key="tx_products_domain_model_order.delivery_date" /></th>
				<th><f:translate key="tx_products_domain_model_order.price" /></th>
				<th><f:translate key="tx_products_domain_model_order.exported" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{orders}" as="order">
				<tr>
					<td><f:link.action action="show" arguments="{order : order}"> {order.orderDate -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.deliveryName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.deliveryAddress}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.deliveryZip}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.deliveryCity}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.email}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.deliveryDate -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.price}</f:link.action></td>
					<td><f:link.action action="show" arguments="{order : order}"> {order.exported}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{order : order}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{order : order}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Order</f:link.action>
	</f:section>
</html>