<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
    <h1>Neue Bestellung</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors"/>

    <h2>
        Produkt: {product.title}
    </h2>

    {f:translate(key: 'all', arguments: '{0: "blah", 1: "noch wat"}') -> f:format.raw()}

    <f:form action="create" name="newOrder" object="{newOrder}">
        <f:form.hidden
                property="products"
                value="{product.uid}"/>
        <f:render partial="Order/FormFields"/>
        <f:form.submit value="Create new"/>
    </f:form>
</f:section>
</html>