<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for User</h1>

<f:flashMessages />

<table  class="tx_products" >
	<tr>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{users}" as="user">
		<tr>
			<td><f:link.action action="edit" arguments="{user : user}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{user : user}">Delete</f:link.action></td>
		</tr>
		</f:for>
</table>

<f:link.action action="new">New User</f:link.action>
	</f:section>
</html>