<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="orderDate">
	<f:translate key="tx_products_domain_model_order.order_date" />
</label><br />
	<f:form.textfield property="orderDate" value="{order.orderDate->f:format.date()}" /><br />
<label for="deliveryName">
	<f:translate key="tx_products_domain_model_order.delivery_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="deliveryName" /><br />
<label for="deliveryAddress">
	<f:translate key="tx_products_domain_model_order.delivery_address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="deliveryAddress" /><br />
<label for="deliveryZip">
	<f:translate key="tx_products_domain_model_order.delivery_zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="deliveryZip" /><br />
<label for="deliveryCity">
	<f:translate key="tx_products_domain_model_order.delivery_city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="deliveryCity" /><br />
<label for="email">
	<f:translate key="tx_products_domain_model_order.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield type="email" property="email" /><br />
<label for="deliveryDate">
	<f:translate key="tx_products_domain_model_order.delivery_date" />
</label><br />
	<f:form.textfield property="deliveryDate" value="{order.deliveryDate->f:format.date()}" /><br />
<label for="price">
	<f:translate key="tx_products_domain_model_order.price" />
</label><br />
	<f:form.textfield property="price" /><br />
<label for="exported">
	<f:translate key="tx_products_domain_model_order.exported" /> <span class="required">(required)</span>
</label><br />
	<f:form.checkbox property="exported" value="1" /><br />
</html>