<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<label for="deliveryName">
    <f:translate key="tx_products_domain_model_order.delivery_name"/>
</label><br/>
<f:form.textfield property="deliveryName"/>
<br/>
<label for="deliveryAddress">
    <f:translate key="tx_products_domain_model_order.delivery_address"/>
</label><br/>
<f:form.textfield property="deliveryAddress"/>
<br/>
<label for="deliveryZip">
    <f:translate key="tx_products_domain_model_order.delivery_zip"/>
</label><br/>
<f:form.textfield property="deliveryZip"/>
<br/>
<label for="deliveryCity">
    <f:translate key="tx_products_domain_model_order.delivery_city"/>
</label><br/>
<f:form.textfield property="deliveryCity"/>
<br/>
<f:security.ifAuthenticated>
    <f:else>
        E-Mail <br/>
        <f:form.textfield property="email"/>
        <br/>
    </f:else>
</f:security.ifAuthenticated>

<label>Lieferdatum</label>
<f:form.textfield
        property="deliveryDate"
        placeholder="dd.mm.jjjj"/>
<br/>
<label>Preis</label>
<f:form.textfield
        property="price"/>
<br/>
<f:comment>
    <f:form.textfield name="irgendwas" value="aa@aa.de"/>
</f:comment>

    <input name="tx_products_product[irgendwas][name]" value="1223"/>
    <input name="tx_products_product[irgendwas][nachname]" value="9999"/>
</html>